.input {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #323232;
	padding-left: 18px;
	box-sizing: border-box;
	border: 1px solid gray;
	margin: 0 0;
	border-radius: 2px;
}
.input:focus {
	outline: none;
}
.input::placeholder {
	color: gray;
}

.inputWrapper {
	display: flex;
	justify-content: space-between;
	width: 500px;
	text-align: center;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.btnAdd {
	border: none;
	color: #fff;
	background-color: #56cc8d;
	padding: 4px 8px;
	border-radius: 4px;
	transition: .3s ease-in-out;
}
.btnAdd:hover {
	background-color: #5cdb97;
}
.btnAdd:active:active,
.btnAdd:focus {
	outline: none;
	border: none;
}